body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
The content `<div>` is where all your content goes.
*/
.navbar {
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
  margin-top: 25px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.button-nav {
	background: #fff;
	color: #52616A;
	cursor: pointer;
}

.button-nav:hover, .button-nav:focus, .button-nav:active {
  background-image: none;
  outline: none;
  border-color: #fff;
  box-shadow: none;
}


.content {
    margin: 0.5em auto;
    padding-left: 0.2em;
    padding-right: 0.2em;
    max-width: 1200px;
    margin-top: 25px;
    line-height: 1.6em;
}

.pure-g {
  text-align: center;
  border-radius: 2px;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
    font-size: 1.9em;
}


.projects .pure-g * {
  margin: 0.2em auto;
  max-width: 250px;
  text-align: center;

}

.footer {
  bottom: 0;

}

.footer .pure-g * {
  text-align: center;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 0.5em 0;
    padding: 0;
}

#github-icon,
#linkedin-icon,
#misc {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 2.7em;
  margin: 1em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}


video {
  margin: 0.2em auto;
  height:100%;
  width: 100%;
}

.center
 {
  text-align: center;
}

h2 {
  outline: none;
}

.projects .pure-g * {
  cursor: pointer;
}

.pure-g div p {
  margin-left: 0.2em;
}
